In [3]:
l = [3, "строка", 0.16, 21, 6666667, 15]

In [4]:
l.append(3)

In [5]:
l

[3, 'строка', 0.16, 21, 6666667, 15, 3]

In [13]:
l.insert(3, 12)

In [14]:
l

[3, 'строка', 0.16, 12, 21, 6666667, 15, 3]

In [15]:
l.index(0.16)

2

In [16]:
l.pop(2)

0.16

In [17]:
l

[3, 'строка', 12, 21, 6666667, 15, 3]

In [18]:
l.insert(3, 12)

In [19]:
l

[3, 'строка', 12, 12, 21, 6666667, 15, 3]

In [23]:
del l[3]

In [24]:
l

[3, 'строка', 12, 21, 6666667, 15, 3]

In [25]:
t = (1, 3, 6, 12, 5, 3, 4, 4, 4, 21, 12, 12, 12, 6, 7, 1, 11, 12, 3, 4, 5, 4, 3, 12, 8, 0, -90, -12, -6, 3, 12)

In [28]:
t1 = t[:1] + t[2:3] + t[4:5] + t[6:]

In [29]:
t1

(1,
 6,
 5,
 4,
 4,
 4,
 21,
 12,
 12,
 12,
 6,
 7,
 1,
 11,
 12,
 3,
 4,
 5,
 4,
 3,
 12,
 8,
 0,
 -90,
 -12,
 -6,
 3,
 12)

In [30]:
len(t1)

28

In [32]:
t1.count(12)

6

In [33]:
s1 = "Однако, когда мы берём срез, у нас %новая строка% последний элемент не включается в срез, "
s2 = "То есть, L[1:5] возьмёт элементы %новая строка% L[1], L[2], L[3], L[4]."

In [39]:
s3 = s1 + s2.lower()

In [40]:
s3

'Однако, когда мы берём срез, у нас %новая строка% последний элемент не включается в срез, то есть, l[1:5] возьмёт элементы %новая строка% l[1], l[2], l[3], l[4].'

In [68]:
s3.split('%новая строка%')

['Однако, когда мы берём срез, у нас ',
 ' последний элемент не включается в срез, то есть, l[1:5] возьмёт элементы ',
 ' l[1], l[2], l[3], l[4].']

In [6]:
my_dict = {
    1: [1, 2, 3],
    2: "haha",
    16: "Phyton",
    "dict": {
        0.7: 12,
        0.8: 16,
        0.9: 20
    }
}

In [7]:
my_dict[16] = 'Python'

In [8]:
my_dict

{1: [1, 2, 3], 2: 'haha', 16: 'Python', 'dict': {0.7: 12, 0.8: 16, 0.9: 20}}

In [4]:
my_dict[2] = ('Cтрока')

In [5]:
my_dict

{1: [1, 2, 3],
 2: ('Cтрока', 2),
 16: 'Python',
 'dict': {0.7: 12, 0.8: 16, 0.9: 20}}

In [59]:
print(my_dict['dict'][0.7])

12

In [13]:
my_list = [1, 2, "три", (4,), [5], {6: "шесть"}]

In [15]:

for row in reversed(my_list):
    
    print(row)

{6: 'шесть'}
[5]
(4,)
три
2
1

In [10]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
total = 0
for row in my_list:
    total += row
print (total)

55

In [20]:
my_list = ["P", "y", "t", "h", "o", "n"]

In [31]:
x = str(0)
for i in my_list:
    x += i
print(x)

0Python

In [32]:
my_list = [1, 3, 5, 7, 9]

In [38]:
for i in my_list:
    i = my_list[2]
print(i)

5

In [40]:
my_list = [1, 3, "пять", 7, 9, "11", 13, 15, "семнадцать"]

In [48]:
for i in range(len(my_list)):
    
    print(my_list[3])

7
7
7
7
7
7
7
7
7

In [49]:
my_list = [10, 8, 1, 3, 4, 6, 7, 8, 5, 5, 3 ,2 ,1 ,1 ,1 -10, -8, 6, 5, -3, -7, 3, 6]

In [50]:
for i in my_list:
    if i < 5:
        print(i)

1
3
4
3
2
1
1
-9
-8
-3
-7
3

In [61]:
my_list = [1, 2, 3, 4, 5, 8, 7, 8]

In [68]:
for i in range(len(my_list)):
    i = 6
    my_list[5] = i
    
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
my_list = [1, 2, "три", 8, 5, "три", 7, 9, "три"]

In [70]:
for i in my_list:
    i = 3
    my_list[i] = 3
    print(my_list)

TypeError: list indices must be integers or slices, not str